<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="33708CareerServicederUniv.CampusCloud" Version="1.3.0.4" Publisher="CN=4D9B6C30-E652-4626-B4EB-DFC04B5F8B52" />
  <Properties>
    <DisplayName>CampusCloud</DisplayName>
    <PublisherDisplayName>Career Service der Universität Münster</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="de-de" />
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="CampusCloud" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Campus Cloud App" ForegroundText="light" BackgroundColor="#009DD1" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="images\WideLogo.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#009DD1" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget" StartPage="default.html">
          <ShareTarget>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
            <DataFormat>StorageItems</DataFormat>
          </ShareTarget>
        </Extension>
        <Extension Category="windows.fileOpenPicker" StartPage="default.html">
          <FileOpenPicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.fileSavePicker" StartPage="default.html">
          <FileSavePicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileSavePicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="removableStorage" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>